.logo {
  background: url('../images/logo-aloha.svg') center no-repeat;
  display: block;
  width: 121px;
  height: 55px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
}

.search {
  margin-top: -52px;
  &__item {
    &-bg {
      @include media-breakpoint-up(md) {
        background-color: $white;
      }
    }
  }
}

.top__img {
  height: 175px;
}

.inspiration__img {
  height: 263px;
}

.roomDetail {
  &__img {
    &-lg {
      height: 100%;
      @include media-breakpoint-up(md) {
        height: 268px;
      }
      @include media-breakpoint-up(lg) {
        height: 434px;
      }
    }
    &-md {
      height: 100%;
      @include media-breakpoint-up(md) {
        height: 132px;
      }
      @include media-breakpoint-up(lg) {
        height: 213px;
      }
    }
    &-sm {
      height: 100%;
      @include media-breakpoint-up(md) {
        height: 93px;
      }
      @include media-breakpoint-up(lg) {
        height: 151px;
      }
    }
    &-carousel {
      height: 247px;
    }
  }
}

.member__img {
  width: 64px;
  height: 64px;
}
