.nav-scroll {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 39px;
    transform: translateY(-100%);
    min-width: 100%;
    overflow-x: scroll;
  }
  @include media-breakpoint-up(lg) {
    overflow-x: hidden;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  li {
    min-width: fit-content;
  }
}
