.swiper-button {
  &-next {
    position: absolute;
    padding: 24px;
    border-radius: 50%;
    background-color: #f1f0f8;
    right: 0px;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    &:after {
      color: black;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
